body {
  background-color: #212121;
  color: #FFFFFF;
  #app {
    .toolbar {
      max-width: 500px;
      display: flex;
      margin: 10px auto;
      justify-content: center;
      align-items: center;

      .button-control {
        background-color: #4CAF50;
        border: none;
        border-right: 1px solid green;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
      }

      .button-control:hover {
      	opacity: 0.8;
      }

      .button-control:active {

      }
    }

    .grid {
      border-spacing: 0px;
      margin: 0 auto;
      .cell {
        width: 10px;
        height: 10px;
        background: black;
        border-left: 1px solid #212121;
        border-bottom: 1px solid #212121;
        margin: 0;
        cursor: pointer;
      }

      .cell:hover {
        opacity: 0.8;
      }
    }
  }
}
